<div [ngClass]="{'list-group-item': true}">
    <div class="row">
        <div class="col-6 itemRow align-middle" (click)="openItemDialog()">
          {{ item.label }}
        </div>
        <div  class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="item.status">
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" value="TODO" (click)="changeItemStatus('TODO')">A faire
            </label>
            <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" value="DOING" (click)="changeItemStatus('DOING')">En cours
              </label>
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" value="DONE" (click)="changeItemStatus('DONE')">Fait
              </label>
        </div>
        <div>
          <button type="button" class="btn btn-danger" (click)="supprimerItem()">Supprimer</button>
        </div>
    </div>
</div>